.footer {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  color: #fff;
  background-color: #ffb3c7;
}
