.content {
  position: relative;
  width: 100%;
  height: calc(100vh - 82px - 45px);
  display: flex;
  align-items: center;
  justify-content: center;

  .generator {
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e2e2;
    border-radius: 10px;

    .title {
      width: 100%;
      margin: 0;
      padding: 35px 40px;
      font-family: "Sparkasse Web", sans-serif;
      font-size: 34px;
      line-height: 45px;
      font-weight: 400;
      color: #fff;
      background-color: #ffb3c7;
      text-align: center;
      border-radius: 10px 10px 0 0;
    }

    p {
      margin: 35px 0 0;
      padding: 0;
      font-family: "Sparkasse Web", sans-serif;
      font-size: 16px;
      line-height: 21px;
      font-weight: 700;
      color: #444444;
      text-align: center;
    }

    .textContainer {
      margin: 5px;
      padding: 0;
      display: flex;
      flex-direction: column;

      & > div {
        display: flex;
        align-items: center;
      }

      label {
        margin: 0 0 5px;
        padding: 0;
        font-family: "Sparkasse Web", sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #959595;
      }

      input {
        width: 470px;
        max-width: 100%;
        margin: 0;
        padding: 10px 20px;
        font-family: "Sparkasse Web", sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #959595;
        outline: none;
        background-color: #f3f3f3;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
      }

      .icon {
        cursor: pointer;
        margin-left: 10px;
        width: 12px;
        height: 16px;
        fill: #e1e1e1;
        display: flex;
        align-items: center;
        transition: fill 0.3s ease;

        &:hover {
          fill: #ffb3c7;
        }
      }
    }

    .inputContainer {
      margin: 5px 0;
      padding: 0;
      display: flex;
      flex-direction: column;

      label {
        margin: 0 0 5px;
        padding: 0;
        font-family: "Sparkasse Web", sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #959595;
      }

      input {
        width: 470px;
        max-width: 100%;
        margin: 0 22px 0 0;
        padding: 10px 20px;
        font-family: "Sparkasse Web", sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #959595;
        outline: none;
        background-color: #f3f3f3;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
      }
    }

    .inputContainer2 {
      position: relative;
      margin: 10px 0;
      padding: 0;
      display: flex;
      flex-direction: column;

      input {
        width: 256px;
        max-width: 100%;
        margin: 0;
        padding: 15px 20px;
        font-family: "Sparkasse Web", sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #959595;
        outline: none;
        background-color: #f3f3f3;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
      }

      &.listOpen {
        input, & {
          border-bottom-color: #f3f3f3 !important;
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }

        .list {
          display: inline-block !important;
        }
      }

      .list {
        background-color: #f3f3f3;
        border: 1px solid #e1e1e1;
        border-bottom-left-radius: 4px;
        max-height: 300px;
        overflow-x: hidden;
        padding: 0;
        right: 0;
        z-index: 2;
        position: absolute;
        top: 48px;
        left: 0;
        width: calc(100%);
        display: none;
        margin: 0;
        list-style: none;

        li {
          cursor: pointer;
          list-style: none;
          padding: 8px 15px;
          font-size: 15px;
          line-height: 20px;
          font-family: "Sparkasse Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: normal;
          font-style: normal;
          color: rgb(102, 102, 102);
          text-align: left;
          position: relative;
          display: flex;
          flex-direction: column;

          p {
            margin: 0;
            padding: 0;
            max-width: 233px;
            font-family: "Sparkasse Web", sans-serif;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
          }

          &:last-of-type {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
          }

          &:hover {
            background-color: rgb(102, 102, 102);
            color: rgb(255, 255, 255);
          }
        }
      }
    }

    .options {
      display: flex;
      margin: 37px 0;
      padding: 0;
      list-style: none;
      flex-direction: column;

      li .checkContainer {
        margin: 10px 0;

        button {
          margin: 0 20px 0 0;
          padding: 0;
          cursor: pointer;
          width: 16px;
          height: 16px;
          background-color: #f3f3f3;
          outline: none;
          border: 1px solid #e1e1e1;
          border-radius: 3px;
          transition: border 0.3s ease;

          .icon {
            opacity: 0;
            width: 100%;
            fill: #ffb3c7;
            //transition: opacity 0.3s ease;
          }

          &.active .icon {
            opacity: 1;
          }

          &.error {
            border: 1px solid red;
          }
        }

        label {
          margin: 0;
          padding: 0;
          font-family: "Sparkasse Web", sans-serif;
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          color: #959595;
        }
      }
    }

    & > button.red {
      cursor: pointer;
      width: 256px;
      margin: 10px 0;
      padding: 10px 0;
      font-family: "Sparkasse Web", sans-serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: #fff;
      background-color: #ffb3c7;
      outline: none;
      border: 1px solid #ffb3c7;
      border-radius: 4px;
    }

    & > button.white {
      cursor: pointer;
      width: 256px;
      margin: 10px 0;
      padding: 10px 0;
      font-family: "Sparkasse Web", sans-serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: #ffb3c7;
      background-color: #fff;
      outline: none;
      border: 1px solid #ffb3c7;
      border-radius: 4px;
    }

    .steps {
      margin: 0 0 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        margin: 0 0 10px;
        padding: 0;
        font-family: "Sparkasse Web", sans-serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #959595;
      }

      .bar {
        position: relative;
        width: 256px;
        height: 5px;
        background-color: #F3F3F3;
        border-radius: 3px;

        .progress {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: #ffb3c7;
          border-radius: 3px;
        }
      }
    }
  }
}
