.footer, .footer * {
  box-sizing: border-box;
  overflow-anchor: none;
}

.footer {
  padding-top: 6.25rem;
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: #000;
  color: #fff;

  .siteWidth {
    padding-left: 4.6875rem;
    padding-right: 4.6875rem;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .top {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1.5625rem;
    margin-left: -1.5625rem;
    margin-bottom: 6.25rem;

    .left {
      margin-left: 1.5625rem;
      margin-right: 1.5625rem;
      width: calc(25% - 3.125rem);
      margin-bottom: 0;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;

      & > * {
        max-width: 100%;
      }

      .hyperlink {
        color: inherit;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        text-decoration: none;

        .hyperlinkWrap {
          display: inline-block;

          .logo {
            height: 1.5625rem;
            width: auto;
            margin-bottom: 1.5625rem;
            display: -webkit-flex;
            display: flex;
          }
        }
      }

      .tools {
        width: 100%;
        margin-bottom: 1.5625rem;
      }

      .socialMedia .socialMediaWrap {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        margin-bottom: -0.78125rem;

        .icon {
          padding: 0.78125rem;
          background-color: #fff;
          display: -webkit-flex;
          display: flex;
          text-decoration: none;

          svg {
            width: 1.03125rem;
            height: 1.03125rem;
          }

          &:not(:last-child) {
            margin-right: 0.78125rem;
            margin-bottom: 0.78125rem;
          }
        }
      }

      .badges {
        margin-top: 1.5625rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
        grid-row-gap: 15px;
        row-gap: 15px;
      }
    }

    .right {
      margin-left: 1.5625rem;
      margin-right: 1.5625rem;
      width: calc(75% - 3.125rem);
      margin-bottom: 0;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;

      & > * {
        max-width: 100%;
      }

      .desktop {
        width: 100%;
      }

      .desktop .row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -1.5625rem;
        margin-left: -1.5625rem;

        .column {
          margin-left: 1.5625rem;
          margin-right: 1.5625rem;
          width: calc(33.33333% - 3.125rem);
          margin-bottom: 0;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          -webkit-align-items: flex-start;
          align-items: flex-start;

          .hyperlink {
            color: inherit;
            display: -webkit-inline-flex;
            display: inline-flex;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            text-decoration: none;

            .hyperlinkWrap {
              display: inline-block;

              h5 {
                font-size: 16px;
                line-height: 25px;
                margin: 0 0 10px;
                font-family: "Klarna Text", sans-serif;
                font-weight: 700;
              }

              p {
                font-family: "Klarna Text", sans-serif;
                font-size: 16px;
                line-height: 25px;
                margin: 0 0 10px;
              }
            }
          }
        }
      }

      .mobile {
        display: none;
        margin-bottom: 3.125rem;
        width: 100%;

        .collapsible {
          width: 100%;
          padding: 1.5625rem 0;
          border-bottom: 1px solid rgba(0,0,0,.1);
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;

          .label {
            display: -webkit-flex;
            display: flex;
            text-align: left;
            cursor: pointer;
            -webkit-align-items: center;
            align-items: center;
            border: none;
            -webkit-appearance: none;
            font-family: "Klarna Text", sans-serif;
            line-height: inherit;
            padding: 0;
            background-color: transparent;
            font-size: unset;
            color: unset;

            h5 {
              -webkit-flex-grow: 1;
              flex-grow: 1;
              margin: 0 1.5625rem 0 0;
              font-size: 16px;
              line-height: 25px;
              font-weight: 700;
            }

            svg {
              -webkit-transition: -webkit-transform .15s ease;
              transition: -webkit-transform .15s ease;
              transition: transform .15s ease;
              transition: transform .15s ease,-webkit-transform .15s ease;
              -webkit-flex-shrink: 0;
              flex-shrink: 0;
              display: -webkit-flex;
              display: flex;
            }
          }

          .content {
            height: 0;
            overflow: hidden;

            & > div {
              display: none;
              padding-top: 0.78125rem;
              -webkit-transition: opacity .15s linear;
              transition: opacity .15s linear;
              opacity: 0;

              .hyperlink {
                width: 100%;
                display: block;
                color: inherit;
                display: -webkit-inline-flex;
                display: inline-flex;
                -webkit-align-items: flex-start;
                align-items: flex-start;
                text-decoration: none;

                .hyperlinkWrap {
                  display: inline-block;

                  p {
                    font-family: "Klarna Text", sans-serif;
                    font-weight: 400;
                    margin: 0 0 5px;
                    font-size: 16px;
                    line-height: 25px;
                  }
                }
              }
            }
          }

          &.open {
            .label svg {
              -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
            }

            .content {
              height: auto;
              overflow: unset;

              & > div {
                display: block;
                opacity: 1;
              }
            }
          }

          &:first-child {
            padding-top: 0;
          }
        }
      }

      .tools {
        display: none;
        width: 100%;
        margin-bottom: 1.5625rem;
      }

      .socialMedia {
        display: none;
      }

      .socialMedia .socialMediaWrap {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        margin-bottom: -0.78125rem;

        .icon {
          padding: 0.78125rem;
          background-color: #fff;
          display: -webkit-flex;
          display: flex;
          text-decoration: none;

          svg {
            width: 1.03125rem;
            height: 1.03125rem;
          }

          &:not(:last-child) {
            margin-right: 0.78125rem;
            margin-bottom: 0.78125rem;
          }
        }
      }
    }
  }

  .bottom {
    background: #000;

    .bottomMenu {
      padding: 1.5625rem 0;
      display: -webkit-flex;
      display: flex;
      color: #fff;

      .copyright {
        font-family: "Klarna Text", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
      }

      .hyperlink {
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        color: inherit;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        text-decoration: none;

        .hyperlinkWrap {
          display: inline-block;

          .small {
            font-family: "Klarna Text", sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin: 0;
          }
        }
      }

      &>:not(:last-child) {
        margin-right: 1.5625rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer .top .left {
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
    width: calc(66.66667% - 3.125rem);
  }

  .footer .top .left .socialMedia {
    margin-bottom: 0;
  }

  .footer .top .left .badges {
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
  }

  .footer .top .right {
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
    width: calc(100% - 3.125rem);
  }
}

@media (max-width: 1024px) and (max-width: 850px) {
  .footer .top .left {
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: calc(66.66667% - 25px);
  }

  .footer .top .right {
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: calc(100% - 25px);
  }
}

@media (max-width: 850px) {
  .footer {
    padding-top: 3.125rem;
  }

  .footer .top {
    margin-left: -12.5px;
    margin-right: -12.5px;
    margin-bottom: 3.125rem;
  }

  .footer .top .left .socialMedia {
    margin-bottom: 3.125rem;
  }

  .footer .top .left .badges {
    margin-top: 0;
  }

  .footer .top .right .desktop .row {
    margin-left: -12.5px;
    margin-right: -12.5px;
  }

  .footer .top .right .desktop .row .column {
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: calc(33.33333% - 25px);
  }
}

@media (max-width: 600px) {
  .footer .site-width {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }

  .footer .top .left {
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: calc(100% - 25px);

    .logo {
      margin-bottom: 1.5625rem;
    }

    .tools {
      display: none;
    }

    .socialMedia {
      display: none;
    }
  }

  .footer .top .right {
    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }

    .tools {
      display: block;
    }

    .socialMedia {
      display: block;
      margin-bottom: 0;
    }
  }

  .footer .bottom .bottomMenu {
    -webkit-flex-direction: column;
    flex-direction: column;

    &>:not(:last-child) {
      margin-right: 0;
      margin-bottom: 0.78125rem;
    }
  }
}